body{

background-color: black;
text-align:center;
color:#999999;
width: 1000px;
height: 60px;
margin: 0px auto;
}
#header {
	height: 80px;
	margin: 0px auto;
}
#logo {
	float:left;
	position:relative;
	left:300px;
}
#logocar{
	float:right;
}
#anunturi{
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}
#menu {
	width: 600px;
	height: 30px;
	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: none;
	color:#999999;
}
#anunt1 img{
	float:left;
	padding:100px 0px 0px 0px;	
}
#anunt1 h3{
	float:left;
	padding:80px 0px 0px 20px;	
	
}
#anunt1 h2{
	float:right;
	padding:80px 200px 0px 0px;	
}
#anunt1 p{
	float:center;
	padding:210px 600px 0px 0px;	
}
#anunt2 img{
	position:relative;
	left:-500px;
	padding-top:30px;
}
#anunt2 h3{
	position:relative;
	top:-160px;
	left:-150px;
}
#anunt2 h2{
	position:relative;
	top:-200px;
	left:260px;
}
#anunt2 p{
	position:relative;
	top:-140px;
	left:-150px;
}
#anunt3 img{
	position:relative;
	left:-370px;
	top:-110px;
}
#anunt3 h3{
	position:relative;
	top:-315px;
	left:-110px;
}
#anunt3 h2{
	position:relative;
	top:-350px;
	left:260px;
}
#anunt3 p{
	position:relative;
	top:-250px;
	left:-150px;
}
a{
	color:#999999;
	text-decoration: none;
}
