body{

background-color: black;
text-align:center;
color:#999999;
}
#header {
	width: 300px;
	height: 10px;
	margin: 0px auto;
}
#header a{
	color:#999999;
	text-decoration: none;
}
#logo {
	float:left;
}
#logocar{
	float:right;
}
#anunt1{
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}

h2{
	text-align:center;
	padding-top:100px;
	padding-right:20px;
}
h2 span{
	margin-left: 15em;
}
pre span{
	margin-left: 5em;
	color:red;
}
#infostg{
	position:relative;
	left:180px;
	font-size:120%;
	
}
#infodr{
	position:relative;
	left:625px;
	top:-90px;
	font-size:120%;	
}
#text{
	position:relative;
	left:180px;
	top:-50px;
	text-align:left;
}
#titlu{
	position:relative;
	left:-30px;
}
