body{

background-color: black;
text-align:center;
color:#999999;
}
#header {
	width: 300px;
	height: 60px;
	margin: 0px auto;
}
#logo {
	float:left;
}
#logocar{
	float:right;
}
#anunturi{
	width: 500px;
	height: 30px;
	margin: 0px auto;
}
a{
	color:#999999;
	text-decoration: none;
}
table{
	float:center;
	position:relative;
	left:100px;
	top:50px;
}