body{

background-color: black;
text-align:center;
color:#FFFFFF;
width: 1000px;
height: 60px;
margin: 0px auto;
}
#header {
	width: 300px;
	height: 60px;
	margin: 0px auto;
}
#logo {
	float:left;
	position:relative;
	left:300px;
}
#logocar{
	float:right;
}
#menu {
	width: 600px;
	height: 30px;
	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 10px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: none;
	color:#999999;
}
#stiri{
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}

#stire1  {
	
	float:right;
	padding:100px 150px 0px 0px;
}

#stire2  {
	float:left;
	padding:100px 0px 0px 150px;	
}
#stire3  {
	float:left;
	padding:50px 0px 0px 150px;	
}
#stire4  {
	float:right;
	padding:30px 150px 0px 0px;
}
#stire5{
	float:left;
	padding:30px 0px 0px 150px;
}
#stire6{
	float:right;
	padding:30px 150px 0px 0px;
}
a{
	color:#FFFFFF;
	text-decoration: none;
}
