body{

background-color: black;
text-align:center;
color:#999999;
}
#stiri{
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}

#stire1  {
	
	float:right;
	padding:100px 150px 0px 0px;
}

#stire2  {
	float:left;
	padding:100px 0px 0px 150px;	
}
#stire3  {
	float:left;
	padding:50px 0px 0px 150px;	
}
#stire4  {
	float:right;
	padding:30px 150px 0px 0px;
}
#stire5{
	float:left;
	padding:30px 0px 0px 150px;
}
#stire6{
	float:right;
	padding:30px 150px 0px 0px;
}
a{
	color:#999999;
	text-decoration: none;
}
