body{
background-color: black;
text-align:center;
color:#999999;
}
#stire{
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}
h1{
	color:#0066cc;
}
h3.h4 {
	text-align:left;
	
}
p{
	font-size:120%;
}
#border{
	
	color:white;
}
a{
	text-decoration: none;
	color:white;
}
#sursa{
	text-align:left;
}
#form{


}